/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    ::selection{
        color: #0b5d8d;
    }
}
#mk{
    margin-left: 800px;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Topics Section Styles */
.topics {
    margin-top: 20px;
    padding: 50px 0;
    background: #fff;
    text-align: center;
    background-image: url(/assests/bg2.jpg);
    background-blend-mode:luminosity;
    background-size: contain;
}

.topics h2 {
    margin-bottom: 40px;
    font-size: 2em;
}

.topic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.topic-item {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.topic-item:hover {
    transform: translateY(-5px);
}

.topic-item h3 {
    margin-top: 0;
    color: #50b3a2;
}

.topic-item ul {
    list-style: none;
    padding: 0;
}

.topic-item ul li {
    margin: 10px 0;
}

.topic-item ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.topic-item ul li a:hover {
    color: #50b3a2;
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
a{
    text-decoration: none;
    :hover{
        color: #50b3a2;
        text-decoration: underline;
    }
}
